POSTGRES_DB=fschool
POSTGRES_USER=fschool
POSTGRES_PASSWORD=fschool_password
POSTGRES_PORT=5432
APP_PORT=8080

PGADMIN_DEFAULT_EMAIL=admin@fschool.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
